body{
  /* border: 2px solid black; */
  width: 100%;
  margin: 0%;
  padding: 0%;
}
a{
  text-decoration: none;
  color: inherit;
}
.form-cont{
  /* border: 2px solid red; */
  margin-top: 2%;
}
.select-cont{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:5%;
  margin:2% ;
}
.input-cont{
  display: flex;
  justify-content: space-between;
  margin:2% ;
}
.detail-cont{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.Filter-cont{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:5%;
  margin:2% ;
}
.entity-cont{
  margin: 2%;
}
.entity-cont>div{
  display: flex;
  gap: 20px;
  
}
.loginbox{
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 2%;
  min-width: 210px;
  width: 20%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.loginbox input{
  padding: 10px;
}
.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  border: 2px solid rgb(91, 73, 229);
  margin-bottom: 10px;
  padding: 5px;
}
.home-progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}